:host {
  display: block;
}

footer {
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 100%;
}

p {
  text-align: center;
  text-shadow: white 0.1em 0.1em 0.2em;
  font-family: 'Raleway', sans-serif;
}

@media screen and (max-width: 576px) {
  p {
    font-size: 0.8rem;
  }
}
